<div class="container">

 <form [formGroup]="reactiveForm" (ngSubmit)= "postData();">
  
    <div class="form-group">
  
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Enter Name" formControlName= "name">
    </div>
  
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" formControlName= "email">
      <span *ngIf= "reactiveForm.get('email').touched && reactiveForm.get('email').hasError('pattern')">Email Invalid</span>
    </div>
  
    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input type="tel" class="form-control" id="phoneNumber" placeholder="Phone Number" formControlName= "number">
      <span *ngIf= "reactiveForm.get('number').touched && reactiveForm.get('number').hasError('pattern')">Phone Number invalid</span>
      
    </div>
  
    <div class="form-group">
      <label for="doB">Date of Birth</label>
      <input type="date" class="form-control" id="doB" placeholder="Date of Birth" formControlName= "doB">
    </div>
  
    <button type="submit" class="btn btn-primary" [disabled]='!reactiveForm.valid'>Submit</button>
    </form>
  </div>
